.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.from-align-center {
    margin-top: 80px;
}

.title {
    margin-top: 100px;
}

.lable {
    margin-left: -580px;
}

.confirmLable {
    margin-left: -510px;
}

.signup {
    margin-top: 15px;
    display: inline-flex;
}

.error-msg {
    font-size: 12px;
    color: red;
    display: flex;
}